* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    
    --color-bg: #9bc1ff;
    --color-primary: #e9cafd;
    --color-secondary: #ffc97c;
}
body {
    font-family: calibri, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: var(--color-bg);
    background-image:
    linear-gradient(rgba(234, 241, 238, 0.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(234, 241, 238, 0.035) 1px, transparent 1px);
  background-size: 42px 42px;
}

#bienvenidos {
    background-color: #ffc97c;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #9d00ff;
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.banner-img {
    width: 100%;
    height: auto; /* Evita que la imagen se deforme */
    display: block;
}

/* El contenedor se apila verticalmente en móviles */
.tarjetas-container {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 100%;
}

/* Las tarjetas ocupan el 100% del ancho disponible en móviles */
.tarjeta {
    border: 1px solid #9d00ff;
    width: 100%; 
    text-align: center;
}

.tarjeta img {
    width: 100%;
    display: block;
}


#select-destinos {
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    main {
        max-width: 740px;
        margin: 0 auto;
    }

    
    .tarjetas-container {
        flex-direction: row; 
    }

    .tarjeta {
        flex: 1; /* Se reparten el espacio equitativamente */
    }

    
    #select-destinos {
        width: auto;
        min-width: 300px;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 980px; /* Ampliamos el espacio de lectura en PC */
    }

    #bienvenidos {
        padding: 40px; /* Más espacio visual en pantallas grandes */
    }

    .tarjetas-container {
        gap: 25px; /* Separamos un poco más las tarjetas en PC */
    }
}